<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verify 2FA</title>
</head>
<body>
    <h1>Verify 2FA</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.otp.label }}<br>
            {{ form.otp(size=32) }}<br>
            {% for error in form.otp.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p><input type="submit" value="Verify"></p>
    </form>
</body>
</html>